## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [4]:
# Please write The solution Here for above question 1:
def maths(int1,int2):
  product = int1*int2
  if product > 1000:
    return int1 + int2

  else:
    return product

int1 = 10
int2 = 20
var = maths(int1,int2)
print(var)

200

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [ ]:
# Please write The solution Here for above question 2:

pass

## question 3

# Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [8]:
# Please write The solution Here for above question 3:
def new_string(self,n):
  return self[n:]

string='pynative'
num = 4
var = new_string(string,num)
print(var)

tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [19]:
# Please write The solution Here for above question 4:
def same_list(self):
  if len(self) == 0:
    return False


  return self[0] == self[-1]



num=[10,20,30,40,10]
list1 = same_list(num)
print(list1)


num=[10,20,30,40,50]
list1 = same_list(num)
print(list1)

True
False

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [24]:
# Please write The solution Here for above question 5:

def two_lists(lis1,list2):
  # reverse the list2
  reversed_list= list2[::-1]

#use zip to iterate the both lists in a simuntaneously
  for item1,item2 in zip(list1,reversed_list):
    print(item1,item2)


list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

two_lists(list1,list2)

10 400
20 300
30 200
40 100

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [26]:
# Please write The solution Here for above question 6:
def new_string(lists):
  # using list comprensions to filter out empty strings
  return[i for i in lists if i]

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
var = new_string(list1)
print(var)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
# hr.viharatech@gmail.com