Question 1: Write a Python program to create an empty tuple.
sample input :
var = (10,11,15,20)
sample output :
result :()

In [1]:
# ans:
empty_tuple = ()
print(empty_tuple)

()

Question 2: Write a Python program to access the elements of a tuple.
sample input :
var = (10,15,20,40,55)
sample output :
result : Access using Techniques available ex: 20 can be accessed with there memory allocation

In [4]:
# ans:
var = (10,15,20,40,55)
print(var[2])
print(var[:4])
for element in var:
    print(element)

20
(10, 15, 20, 40)
10
15
20
40
55

Question 3: Write a Python program to concatenate two tuples.
Sample Input 1:

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Sample Output 1:

Concatenated Tuple: (1, 2, 3, 4, 5, 6)
Sample Input 2:

Tuple 1: ("apple", "banana")
Tuple 2: ("cherry", "date")
Sample Output 2:

Concatenated Tuple: ("apple", "banana", "cherry", "date")

In [9]:
# ans:
Tuple1 = (1, 2, 3)
Tuple2 = (4, 5, 6)
concatenated_tuple = Tuple1 + Tuple2
print(concatenated_tuple)

tuple1 = ('apple','banana')
tuple2 = ('cherry','date')
Concatenated_tuple = tuple1 + tuple2
print(Concatenated_tuple)

(1, 2, 3, 4, 5, 6)
('apple', 'banana', 'cherry', 'date')

Question 4: Write a Python program to access the first and last elements of a tuple.
Sample Input: (1, 2, 3, 4, 5)
Sample Output: First Element: 1, Last Element: 5

In [13]:
# ans:
tuple_var = (1,2,3,4,5)
var1 = tuple_var[0]
var2 = tuple_var[-1]
print(f'First Element: {var1} , Last Element: {var2}')

First Element: 1 , Last Element: 5

Question 5: Write a Python program to reverse a tuple.
Sample Input: (5, 4, 3, 2, 1)
Sample Output: (1, 2, 3, 4, 5)

In [17]:
#ans:
var = (5, 4, 3, 2, 1)
var1 = var[::-1]
print(var1)

(1, 2, 3, 4, 5)

Question 6: Write a Python program to find the maximum and minimum elements of a tuple.
Sample Input: (15, 25, 10, 30, 20)
Sample Output: Maximum: 30, Minimum: 10

In [20]:
#ans:
var = (15, 25, 10, 30, 20)
max_num = max(var)
min_num = min(var)
print(f'Maximum: {max_num}, Minimum: {min_num}')

Maximum: 30, Minimum: 10

Question 7: Write a Python program to remove an element from a tuple.
Sample Input: (1, 2, 3, 4, 5), 3
Sample Output: (1, 2, 4, 5)

In [26]:
# ans:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
my_list.remove(3)
new_tuple = tuple(my_list)
print(new_tuple)

TypeError: 'tuple' object is not callable

Question 8: Write a Python program to convert a list of tuples into a dictionary.
Sample Input: [(1, "one"), (2, "two"), (3, "three")]
Sample Output: {1: 'one', 2: 'two', 3: 'three'}

In [27]:
#ans
lis_tup = [(1, "one"), (2, "two"), (3, "three")]
dic = dict(lis_tup)
print(dic)

{1: 'one', 2: 'two', 3: 'three'}

Question 9: Write a Python program to find the intersection of two tuples.
Sample Input: (1, 2, 3, 4, 5), (4, 5, 6, 7, 8)
Sample Output: (4, 5)

In [29]:
# ans
def intersection(tup1,tup2):
    set1 = set(tup1)
    set2 = set(tup2)
    intersection_set = set1.intersection(set2)
    return tuple(intersection_set)
print(intersection((1, 2, 3, 4, 5), (4, 5, 6, 7, 8)))

TypeError: 'tuple' object is not callable

Question 10: Write a Python program to sort a tuple of tuples by the second element of each tuple.
Sample Input: ((1, 5), (3, 2), (2, 7), (4, 6))
Sample Output: ((3, 2), (1, 5), (4, 6), (2, 7)

In [32]:
#ans:
def sort_tuple(self):
    return sorted(self,key = lambda x:x[1])  # here the key argument of x is important for selecting the second element in each tuple we can chage by[0]
print(sort_tuple(((1, 5), (3, 2), (2, 7), (4, 6))))

[(3, 2), (1, 5), (4, 6), (2, 7)]